.item-list{
	border: 1px solid #ddd;
	padding: 10px;
	height: 260px;
}
.item-list:hover{
	background: #ddd;
}
.item-list h3{
	font-size: 18px;
	font-weight: 600;
	color:#777;
	text-align: center;
}
.item-list h4{
	font-size: 16px;
	font-weight: 500;
	color:#777;
	text-align: center;
}
.detail_class{
	position: absolute;
	bottom: 0;
	right: 0;
}
.addtocart_class{
    position: absolute;
    bottom: 0;
    left: 0;
}