<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Total no of album: {{cartlists.resultCount}}</h1>
				<div class="col-md-4 item-list text-center" style="position: relative;" ng-repeat="cartlist in cartlists.results">
					<img ng-src="{{ cartlist.artworkUrl60 }}" class="img-responsive">
					<h3>{{ cartlist.artistName }}</h3>
					<h4>{{ cartlist.collectionName }}</h4>
					<h5>{{ cartlist.trackName }}</h5>
					<a ng-href="#/details/{{ cartlist.trackId }}" class="detail_class btn btn-primary">Details</a>
				</div>
			</div>
		</div>
	</div>
</section>