<section class="artistinfo" ng-controller="DetailController">
	<h1>Detail pages</h1>
	<div class="artist cf" ng-model="artists">
		<div class="col-md-2">
			<img ng-src="{{ albums.results[0].artworkUrl100 }}" class="img-responsive">
		</div>
		<div class="col-md-10">
			<h4>Title: {{ albums.result[0].kind }}
			<small>{{ albums.result[0].wrapperType }}</small>
			</h4>
			<h4>{{ albums.results[0].artistName }}</h1>
			<h4>{{ albums.results[0].trackName }}</h4>
			<div class="info">
			<h4>{{ albums.results[0].collectionName }}</h3>
			<p>Collection Price: {{ albums.results[0].collectionPrice }}</p>
			<p>Country : {{ albums.results[0].country }}</p>
			</div>
		</div>			
	</div>
	<a href="javascript:void()" onclick="window.history.back();"><< Back to search</a>
</section>