<section class="artistpage" ng-controller="ListController">
	<!-- <div class="container">
		<div class="text-center">
			<form method="post" ng-submit="searchAlbum()">
				<input type="text" ng-model="searchterms" class="form-control">
				<button type="submit" class="btn btn-default">Search</button>
			</form>
		</div>
	</div> -->
	<div class="container" style="margin-bottom:20px;">
		<div class="pull-right">
			<a href="#" class="btn btn-default">Cart count {{ car }}</a>
		</div>
	</div>
	<div class="container">
		<div class="text-center">
			<form method="post" ng-submit="searchAlbum()">
				<input type="text" ng-model="searchterms" class="form-control">
				<button type="submit" class="btn btn-default">Search</button>
			</form>
		</div>
		<div class="text-center" style="margin-top:20px;">
			<p style="color:red;">{{errorr}}</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Total no of album: {{albums.resultCount}}</h1>
				<div class="col-md-4 item-list text-center" style="position: relative;" ng-repeat="album in albums.results">
					<img ng-src="{{ album.artworkUrl60 }}" class="img-responsive">
					<h3>{{ album.artistName }}</h3>
					<h4>{{ album.collectionName }}</h4>
					<h5>{{ album.trackName }}</h5>
					<a href="javascript:void(0);" class="addtocart_class btn btn-default" ng-click="WriteCookie(album.trackId)">Add to cart</a>
					<a ng-href="#/details/{{ album.trackId }}" class="detail_class btn btn-primary">Details</a>
				</div>
			</div>
		</div>
	</div>
</section>